@font-face {
  font-family: "LXGW WenKai GB";
  src: url("ttf/LXGWWenKaiGB-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Ysabeau Office";
  src: url("ttf/YsabeauOffice-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ysabeau Office";
  src: url("ttf/YsabeauOffice-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ysabeau Office";
  src: url("ttf/YsabeauOffice-Italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Ysabeau Office";
  src: url("ttf/YsabeauOffice-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Hasklig";
  src: url("ttf/Hasklig-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hasklig";
  src: url("ttf/Hasklig-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hasklig";
  src: url("ttf/Hasklig-It.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Hasklig";
  src: url("ttf/Hasklig-BoldIt.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Twemoji";
  src: url("ttf/Twemoji-15.1.0.ttf");
}
