/*
 * 引用块
 *
 * 引用块由于其内嵌任意元素，样式必须坐在块本身上面，不能做在段落上面。
 */

.protyle-wysiwyg
.bq[style*="background-color: var(--b3-card-error-background);"] {
    background-image: url('../../src/error-icon.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: var(--b3-card-error-background);
    border-top: 3px solid var(--b3-card-error-border);
    padding-left: 40px;
}

.protyle-wysiwyg
.bq[style*="background-color: var(--b3-card-warning-background);"]{
    background-image: url('../../src/warning-icon.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: var(--b3-card-warning-background);
    border-top: 3px solid var(--b3-card-warning-border);
    padding-left: 40px;
}

.protyle-wysiwyg
.bq[style*="background-color: var(--b3-card-info-background);"] {
    background-image: url('../../src/info-icon.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: var(--b3-card-info-background);
    border-top: 3px solid var(--b3-card-info-border);
    padding-left: 40px;
}

.protyle-wysiwyg
.bq[style*="background-color: var(--b3-card-success-background);"] {
    background-image: url('../../src/success-icon.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: var(--b3-card-success-background);
    border-top: 3px solid var(--b3-card-success-border);
    padding-left: 40px;
}

/*
 * 段落
 *
 * 段落的样式坐在段落上面，随着其内嵌内容而调整。注意由于不同类型的段落可能已经
 * 被设置了相应的参数，我们必须在CSS选择器中列出全部我们需要考虑的段落类型。
 */

.protyle-wysiwyg
.p[style*="background-color: var(--b3-card-error-background);"],
.protyle-wysiwyg [data-node-id].li
.p[style*="background-color: var(--b3-card-error-background);"] {
    display: flex;
    align-items: center;
    padding: 0px !important;
    border: 1px solid var(--b3-card-error-border) !important;
    border-radius: var(--b3-border-radius-noraml);
}
.protyle-wysiwyg
.p[style*="background-color: var(--b3-card-error-background);"]::before,
.protyle-wysiwyg [data-node-id].li
.p[style*="background-color: var(--b3-card-error-background);"]::before {
    width: 20px; /* 使得盒子大小和图像大小一致，避免居中问题 */
    height: 20px;
    content: url("../../src/error-icon.svg");
    margin-left: 10px;
    align-items: center;
}
.protyle-wysiwyg
.p[style*="background-color: var(--b3-card-error-background);"]
> div:first-child {
  padding-left: 10px;
  border-left: 1px solid var(--b3-card-error-border);
  margin: 5px;
  margin-left: 10px;
}

.protyle-wysiwyg
.p[style*="background-color: var(--b3-card-warning-background);"],
.protyle-wysiwyg [data-node-id].li
.p[style*="background-color: var(--b3-card-warning-background);"] {
    display: flex;
    align-items: center;
    padding: 0px !important;
    border: 1px solid var(--b3-card-warning-border) !important;
    border-radius: var(--b3-border-radius-noraml);
}
.protyle-wysiwyg
>.p[style*="background-color: var(--b3-card-warning-background);"]::before,
.protyle-wysiwyg [data-node-id].li
>.p[style*="background-color: var(--b3-card-warning-background);"]::before {
    width: 20px; /* 使得盒子大小和图像大小一致，避免居中问题 */
    height: 20px;
    content: url("../../src/warning-icon.svg");
    margin-left: 10px;
    align-items: center;
}
.protyle-wysiwyg
.p[style*="background-color: var(--b3-card-warning-background);"]
> div:first-child {
    padding-left: 10px;
    border-left: 1px solid var(--b3-card-warning-border);
    margin: 5px;
    margin-left: 10px;
}

.protyle-wysiwyg
.p[style*="background-color: var(--b3-card-info-background);"],
.protyle-wysiwyg [data-node-id].li
.p[style*="background-color: var(--b3-card-info-background);"] {
    display: flex;
    align-items: center;
    padding: 0px !important;
    border: 1px solid var(--b3-card-info-border) !important;
    border-radius: var(--b3-border-radius-noraml);
}
.protyle-wysiwyg
>.p[style*="background-color: var(--b3-card-info-background);"]::before,
.protyle-wysiwyg [data-node-id].li
>.p[style*="background-color: var(--b3-card-info-background);"]::before {
    width: 20px; /* 使得盒子大小和图像大小一致，避免居中问题 */
    height: 20px;
    content: url("../../src/info-icon.svg");
    margin-left: 10px;
    align-items: center;
}
.protyle-wysiwyg
.p[style*="background-color: var(--b3-card-info-background);"]
> div:first-child {
    padding-left: 10px;
    border-left: 1px solid var(--b3-card-info-border);
    margin: 5px;
    margin-left: 10px;
}

.protyle-wysiwyg
.p[style*="background-color: var(--b3-card-success-background);"],
.protyle-wysiwyg [data-node-id].li
>.p[style*="background-color: var(--b3-card-success-background);"] {
    display: flex;
    align-items: center;
    padding: 0px !important;
    border: 1px solid var(--b3-card-success-border) !important;
    border-radius: var(--b3-border-radius-noraml);
}
.protyle-wysiwyg
>.p[style*="background-color: var(--b3-card-success-background);"]::before,
.protyle-wysiwyg [data-node-id].li
>.p[style*="background-color: var(--b3-card-success-background);"]::before {
    width: 20px; /* 使得盒子大小和图像大小一致，避免居中问题 */
    height: 20px;
    content: url("../../src/success-icon.svg");
    margin-left: 10px;
    align-items: center;
}
.protyle-wysiwyg
.p[style*="background-color: var(--b3-card-success-background);"]
> div:first-child {
    padding-left: 10px;
    border-left: 1px solid var(--b3-card-success-border);
    margin: 5px;
    margin-left: 10px;
}

/* -----------------------------------------------------到此为止结束-------------------------------------------- */
