/*
 * 代码块样式：从 Zhi 主题复制而来，加了一个阴影效果。
 */

html[data-theme-mode=light] {
  --zhi-code-tab-bg: #fafafa;
  --zhi-code-content-bg: #fdfefe;
}

html[data-theme-mode=dark] {
  --zhi-code-tab-bg: #000;
  --zhi-code-content-bg: #1e1e1e
}

#preview .protyle-action__language {
  right: .2rem !important;
  z-index: -1;
}

#preview .protyle-action__language:after {
  display: none !important
}

#preview .protyle-action__copy {
  display: none !important
}

.code-block {
  /* add a margin to make the border shadow visible when exporting to pdf. */
  margin: 1px !important;
  border: .5px var(--b3-border-color) !important;
  border-radius: 5px !important;
  padding-top: 32px !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: var(--zhi-code-tab-bg) !important;
  border-radius: var(--b3-border-radius-noraml) !important;
  box-shadow: var(--b3-code-block-shadow);
}

.b3-typography div.hljs,
.protyle-wysiwyg div.hljs {
  color: var(--b3-theme-on-background);
  padding: 8px 1em 8px 1em;
  border-top: 1px solid var(--b3-border-color);
  border-radius: 0 0 5px 5px !important;
  background: var(--zhi-code-content-bg);
  font-family: var(--b3-font-family-code);
  text-align: left !important;
}

.code-block:after {
  content: " ";
  position: absolute;
  background: #fa625c;
  box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
  border-radius: 50%;
  top: 9px !important;
  left: 8px !important;
  height: 12px !important;
  width: 12px !important;
  z-index: 1;
}

/*
 * HACK: fix a problem in exporting as html or pdf, where the language name will
 * be positioned too close to the top. This is caused by the zero width of the
 * fn__flex-1 div. We add an after element and make it invisible to make the div
 * have proper height.
 */
.protyle-wysiwyg .code-block .protyle-action .fn__flex-1:after,
.b3-typography .code-block .protyle-action .fn__flex-1:after {
  content: "O";
  color: var(--zhi-code-tab-bg);
}

.protyle-linenumber__rows {
  margin-top: 32px !important;
  padding: 4px;
  background-color: var(--b3-theme-background) !important;
  margin-bottom: 0;
  font-family: var(--b3-font-family-code);
  border-top-left-radius: 4px;
}

.protyle-linenumber__rows span:before {
  color: #808007;
}

.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
  margin-top: 0;
  position: absolute;
  right: 3.5em;
  border-radius: 1px;
  opacity: 1 !important;
  font-family: var(--b3-font-family-code);
}

.b3-typography .code-block .protyle-action .protyle-action__language:after,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language:after {
  content: "›";
  font-family: var(--b3-font-family-code);
  color: #80808080;
  opacity: 1;
}

code.hljs {
  border: 1px solid var(--b3-border-color1);
}

.b3-typography .code-block .protyle-action .protyle-icon,
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
  opacity: 1 !important;
  background-color: transparent !important;
}

.b3-typography .code-block .protyle-action .protyle-icon svg,
.b3-typography .code-block .protyle-action .protyle-action__language svg,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon svg,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language svg {
  color: gray;
}
